.form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    & .form_item {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        position: relative;
        & .category_options {
            list-style: none;
            background: #FCFCFC;
            position: absolute;
            top: 4rem;
            border: 1px solid #818181;
            border-radius: 4px;
            z-index: 10;
            width: 100%;
            max-height: 10rem;
            overflow-y: auto;
            li {
              padding: 0.5rem;
              cursor: pointer;
              border-radius: 4px;
              &:hover {
                background: #f0f0f0;
              }
            }
          }
        input {
            height: 2.5rem;
            background: #FCFCFC;
            border: #818181 1px solid;
            border-radius: 4px;
            padding: 0 1rem;
            font-size: 1.2rem;
        }
        input[type="number"] {
          text-align: right;
        }
        input[type="number"]::-webkit-inner-spin-button{
            -webkit-appearance: none;
        }        
        select {
            height: 2.5rem;
            background: #FCFCFC;
            border: #818181 1px solid;
            border-radius: 4px;
            padding: 0 1rem;
            font-size: 1.2rem;
            overflow-y: auto;
            & option {
                background: #FCFCFC;
                color: #555555;
                font-size: 1.2rem;
                max-height: 6rem;
                overflow-y: auto;
            }
        }
    }
}