.container {
  padding-top: 4rem;
  display: flex;
  height: 100vh;
  position: relative;
  overflow: auto;
  & .content {
    max-width: 700px;
    width: 100%;
    flex: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}