.content {
    max-width: 700px;
    margin: 0 auto;
    color: #555555;
    & .container_flex {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        & .container {
            background: rgba($color: #000000, $alpha: 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 400;
            width: 80%;
            & .main {
                width: 80%;
                height: 80%;
                display: flex;
                align-items: center;
                flex-direction: column;
                & .title {
                    font-size: 2.5rem;
                    color: #fff;
                    text-align: center;
                }
                & .description {
                    margin-top: 1.5rem;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    width: 50%;
                    & .link {
                        background: #FCFCFC;
                        border-radius: 10px;
                        text-decoration: none;
                        font-size: 1.5rem;
                        margin-top: 3rem;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}
