.header {
    background: #FCFCFC;
    border-bottom: #818181 1px solid;
    height: 4rem;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    padding: 0 1rem;
    & .button {
        cursor: pointer;
    }
    h1 {
        flex: 1;
        font-size: 2rem;
        font-weight: 700;
        color: #5EBCFF;
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}